In [1]:
import pandas as pd

In [2]:
fp = "/Users/syykhan/desktop/retail_db_json/order_items/part-r-00000-6b83977e-3f20-404b-9b5f-29376ab1419e"
df = pd.read_json(fp, lines=True)

In [5]:
df.count()

order_item_id               172198
order_item_order_id         172198
order_item_product_id       172198
order_item_quantity         172198
order_item_subtotal         172198
order_item_product_price    172198
dtype: int64

In [6]:
df.dtypes

order_item_id                 int64
order_item_order_id           int64
order_item_product_id         int64
order_item_quantity           int64
order_item_subtotal         float64
order_item_product_price    float64
dtype: object

In [7]:
df.columns

Index(['order_item_id', 'order_item_order_id', 'order_item_product_id',
       'order_item_quantity', 'order_item_subtotal',
       'order_item_product_price'],
      dtype='object')

In [8]:
df[["order_item_order_id", "order_item_subtotal"]]

        order_item_order_id  order_item_subtotal
0                         1               299.98
1                         2               199.99
2                         2               250.00
3                         2               129.99
4                         4                49.98
...                     ...                  ...
172193                68881               129.99
172194                68882                59.99
172195                68882                50.00
172196                68883              1999.99
172197                68883               150.00

[172198 rows x 2 columns]

In [9]:
df[df["order_item_order_id"] == 2]

,order_item_id,order_item_order_id,order_item_product_id,order_item_quantity,order_item_subtotal,order_item_product_price
1,2,2,1073,1,199.99,199.99
2,3,2,502,5,250.00,50.00
3,4,2,403,1,129.99,129.99